body {
    background-color: rgba(230, 230, 250, 0.6);
}

h1 {
    color: white;
    background-color: lightgray;
    border: 2px solid tomato;
}

h2 {
    color: blue;
}

h2 {
    color: red;
}

/* CLASS */
.center {
    text-align: center;
}

.fonte-verde {
    color: green;
}

/* ID */
#para {
    font-family: verdana;
    font-size: 20px;
}