body {
    font-family: 'Rubik', sans-serif;
    
    /*background-image: url("fundosite.jpg");
    background-repeat: no-repeat;*/
}

h1 {
    font-family: "Sofia", sans-serif;
    color: white;
    background-color: green;
    opacity: 1;
    border: 2px dashed tomato;
}

h2 {
    color: blue;
}

h2 {
    color: red;
}

strong {
    text-transform: uppercase;
    color: darkmagenta;
}

/* CLASS */
.center {
    text-align: center;
}

.fonte-verde {
    color: green;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-color: red;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    /*padding: 10px;*/
    /*width: 50px;
    height: 50px;*/
}

.link {   
    text-align: center;
    font-size: 30px;
    text-transform: lowercase;
    border-style: solid;
    border-color: red;
}

.link a {
    text-decoration: none;
    color: red;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* ID */
#para {
    padding: 20px;
    /*font-family: verdana;*/
    font-size: 20px;
    text-align: justify;
}